// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  color-scheme: light dark;

  // Дефолтна світла тема
  @include mat.theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

html.dark-theme {
  // Налаштування темної теми Material 3
  @include mat.theme((color: (theme-type: dark,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
    ));
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

/* You can add global styles to this file, and also import other style files */